<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Ostrichinator Demo </title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if task_info['taskid'] and not task_info['results'] %} <meta http-equiv="refresh" content="60" /> {% endif %}
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<style type='text/css'> 
			.flash {background:#F2DEDE; padding:0.5em; display:inline-block}
			.borderless tbody tr td, .borderless thead tr th {border:none}
			.table-nonfluid {width:auto}
			#spinner {text-align:middle; width:227px; height:227px; position:relative}
			#wrapper {background-color:#ffffff; opacity:0.6; filter:alpha(opacity=60)}
			ul {list-style:none; padding-left:0}
		</style>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://fgnass.github.io/spin.js/spin.min.js"></script>
	</head>

	<body>
	<div class="container">
		<h1><a href="http://coxlab.github.io/ostrichinator/">Are Deep Learning Algorithms Easily Hackable?</a></h1>
		
		{% for message in get_flashed_messages() %}
			<div class="flash"> {{message}} </div>
		{% endfor %}
		
		<form method="POST" action="{{url_for('run_task')}}" enctype="multipart/form-data">
			{{form.hidden_tag()}}
			<h2> Step 1 <small>Verify you're a human visitor</small> </h2>
			{{form.recaptcha}}

			<h2> Step 2 <small>Specify your hacking task</small> </h2>
			<p> Target deep learning algorithm{% if advmode %}(s) &ndash; <i>select multiple to break them at once</i>{% endif %} {{form.network_selection}} </p>
			<p> And you want the image to be classified as {{form.label_selection}} (see <a href="http://www.googledrive.com/host/0B8LpM_21I0tYY0dWMVRscVV0Vzg" target="_blank">here</a> for detailed definitions, or just <a onclick="randomize()">randomize</a> it.) </p>
			<script> function randomize(){document.getElementById('label_selection').selectedIndex=Math.floor(1000*Math.random());}</script>

			<h2> Step 3 <small>Pick an image and try hacking it</small> </h2>
			<!-- <p> <input type="submit" name="start" value="{{form.tasks[0]}}" style="width:130px" class="btn btn-primary"> </p> -->
			<p> <input type="submit" name="start" value="{{form.tasks[3]}}" style="width:130px" class="btn btn-primary">
			<p> <input type="submit" name="start" value="{{form.tasks[2]}}" style="width:130px" class="btn btn-primary"> &nbsp;{{form.image_url}} </p>
			<p> <input type="submit" name="start" value="{{form.tasks[1]}}" style="width:130px" class="btn btn-primary"> &nbsp;<input type="text" name="subfile" id="subfile"> &nbsp;<a class="btn btn-default" onclick="$('#image_file').click();"> Browse </a></p>
				<div style="position:absolute; left:-999em"> {{form.image_file}} </div>
				<script> $('#image_file').change(function(){$('#subfile').val($(this).val().split('\\').pop().split('/').pop());}); </script> 
			<p><i> Random images are hosted by lorempixel.com. Images need to be smaller than 2MB. </i></p>
			
			{% if task_info['taskid'] %}
				<h2> Results <small>Task targeting {{task_info['taskpar']}} (<a href={{url_for('index',taskid='%s' % task_info['taskid'])}}>link</a>)</small> </h2>
				<div class="table-responsive"> <table class="table borderless table-nonfluid">
					<tr>
						{% if task_info['results'] %} 
							<td align="center"> <img class="img-rounded" src={{url_for('static',filename='%s.png' % task_info['taskid'])}}>  </td>						
							<td align="center"> <img class="img-rounded" src={{url_for('static',filename='%s-out.png' % task_info['taskid'])}}> </td>
							<td align="center"> <img class="img-rounded" src={{url_for('static',filename='%s-dff.png' % task_info['taskid'])}}> </td>
							<td align="center"> <img class="img-rounded" src={{url_for('static',filename='%s-sal.png' % task_info['taskid'])}}> </td>
						{% else %}
							<td align="center"> <div id="spinner"><div id="wrapper"><img class="img-rounded" src={{url_for('static',filename='%s.png' % task_info['taskid'])}}></div></div> </td>
							
							<script>
								$(document).ready(function () {
									var opts = {lines:10, length:45, width:10, radius:45, corners:1,  rotate:0, direction:1, color:'#000', speed:0.25, trail:75, shadow:true, hwaccel:false, className:'spin', zIndex:2e9, top:'50%', left:'50%'};
									var target = document.getElementById('spinner');
									var spinner = new Spinner(opts).spin(target);});
							</script>
						{% endif %}
					</tr>
					<tr>
						{% if task_info['results'] %}
							<td align="center"> <b>Initial Image</b> <br> {% if task_info['ori_class'] %} Classified as {{task_info['ori_class']|safe}}. {% endif %} </td>
							<td align="center"> <b>Hacked Image</b> <br> {% if task_info['new_class'] %} Classified as {{task_info['new_class']|safe}}. {% endif %} </td>
							<td align="center"> <b>Difference</b> <br> Normalized to full dynamic range. </td>
							<td align="center"> <b>Heat Map</b> <br> Where the algorithm{% if advmode %}(s){% endif %} got fooled. </td>
						{% else %}
							<td align="center"> <b>Hacking in Progress</b> </td>
						{% endif %}
					</tr>
				</table> </div>
				 
				{% if task_info['results'] %} 
					<p><b> {{task_info['results']}} </b></p>
					<p><i> Please take this <a href={{"https://docs.google.com/forms/d/1TtosZR4G9LWwFgOc61fsrTFrpLeDJWenxnJzayxmeT4/viewform?entry.924271448=%s" % task_info['taskid']}} target="_blank">survey</a> to help us better characterize deep learning algorithms and the way they agree or disagree with human vision. </i></p>
				{% else %}
					<p> Wait a bit and the page will reload itself to show the hacking results (depends on the difficulty of your task but usually less than 5 minutes). </p>
				{% endif %}
			{% endif %}
		</form>

		{% if task_info['taskid'] and not task_info['results'] %}
			<p class="text-muted"><i> ONLY in case this is running too long (e.g. over 30 minutes, meaning something may have gone wrong), you are suggested to <a href="{{url_for('del_task')}}" class="text-danger">delete</a> task and resubmit it. </i></p>
			
			<script> $(document).ready(function() {$('input[name="start"]').attr('disabled','disabled');}); </script>
		{% else %}
			<script> $(document).ready(function() {$('input[name="start"]').removeAttr('disabled');}); </script>
		{% endif %}
				
		{% if not advmode %}
			<!--You got it. Navigate to /adv/ and have some more fun.-->
			<script>
				var disableMultiSelection = function(group){
					return function() {var isChecked= $(this).prop("checked"); $(group).prop("checked", false); $(this).prop("checked", isChecked);} };

				$("[id^=network_selection-]").click(disableMultiSelection("[id^=network_selection-]"));
			</script>
		{% endif %}
		
		<hr>
		This project is created by Chuan-Yung (Kenyon) Tsai, based on <a href="http://www.vlfeat.org/matconvnet/">MatConvNet</a> and <a href="http://www.cs.ubc.ca/~schmidtm/Software/minConf.html">minConf</a>.
		Server load is {{srv_load}}% now.
	</div>
	</body>
</html>

